.userbus {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.searchbus {
    display: flex;
    margin: 10px;
    padding: 10px;
    gap: 20px;
    column-gap: 10px;
}

.buslist {
    padding: 10px
}

table,
th,
td {
    padding: 2px 20px;
    border: 1px solid black;
    margin: 10px 2px;
    border-collapse: collapse;
}

.nav {
    display: inline-block;
}